:root {
	--color-bg: #ddcec4;
	--color-fg: #3d342e;
	--color-white: #f5e6e1;
}
*, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "EB Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	font-size: 16pt;

	/* padding: 3rem; */
	padding-top: 5rem;

	/* background-color: var(--color-bg); */
	color: var(--color-fg);


    width: 100vw;
    height: 100vh;

	margin-left: auto;
	margin-right: auto;

	background-image: linear-gradient(#ddcec480, #ddcec480), url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* border: 6rem solid var(--color-fg); */

}

main {
    padding: 3rem;
    border: 0.25rem solid var(--color-fg);

	max-width: 30rem;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-bg);
}

h1 {
    /* font-family: "Great Vibes", cursive, serif; */
    font-family: "Dancing Script", serif;
	font-weight: 800;
	font-style: normal;

	font-size: 72pt;

	text-align: center;

	line-height: 80%;

	padding-bottom: 4rem;

	color: var(--color-white);
}

h2 {
	padding-top: 0rem;
	/* text-decoration: underline; */
}

h2.subtitle {
	text-decoration: none;
	font-style: italic;
	padding-top: 0;
	font-weight: 600;
	text-align: center;

	margin-bottom: 3rem;
}

h3 {
	padding-top: 1rem;
	font-size: 14pt;
}

img {
	width: 6rem;
	transform: rotate(80deg);

	margin-left: auto;
	margin-right: auto;

	text-align: center;

	display: block;
}
