*,
*:before,
*:after {
    box-sizing: border-box;
}

*, html {
	margin: 0;
	padding: 0;
}

body {
    background: #ddcec4;
    background: #11111b;
    color: #3d342e;

    font-family: "EB Garamond", serif;
    font-size: 16pt;
    line-height: 125%;

    padding: 2rem;

    width: 100vw;
    height: 100vh;
}

.app {
    display: grid;
    gap: 1rem;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

.Feature {
    background: #ddcec4;

    padding: 1rem;
}

.ItemList {
    display: grid;
    border: 2px solid #3d342e;

    font-size: 90%;
}

.ItemList.responses {
    grid-template-columns: repeat(5, auto);
}

.ItemList.progress {
    grid-template-columns: repeat(3, auto);
}

.ItemList.guest {
    grid-template-columns: repeat(6, auto);
}

.ItemList ul {
    list-style-type: none;
    display: contents;
}

.ItemList ul:nth-child(odd) li {
    background: #d1c2b7;
}

.ItemList .header li {
    font-weight: bold;
    border-bottom: 2px solid #3d342e;
    background: #f0dfd4 !important;
}

.ItemList li {
    padding: 0.5rem;
}
